<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure iisnode to handle Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all incoming requests to server.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Security: Allow all IP addresses -->
    <security>
      <ipSecurity allowUnlisted="true">
        <clear />
      </ipSecurity>
    </security>

  </system.webServer>
</configuration>